.nav-icon > svg:hover,
.nav-icon > div > svg:hover {
  cursor: pointer;
}
.nav-icon > a {
  color: inherit;
  margin-left: 20px;
  font-size: 17px;
}
.search-bar {
  border-top: 1px solid #ddd;
  display: none;
  position: relative;
  transition: ease-in-out 0.3s;
}
.search-bar input {
  border: none;
  width: 97%;
  padding: 10px;
}
.search-bar input:focus {
  outline: none;
}
.close-search {
  cursor: pointer;
}
